{% load i18n time_filters %}
<li class="list-group-item d-flex justify-content-between align-items-center watchlist-item"
    id="item-{{ item.pk }}">
  <a href="{% url 'details' media_type=item.media_type tmdb_id=item.movie_id %}" style="text-decoration: none;">
  <img src="{{ item.tmdb_poster }}" alt="{{ item.tmdb_title }}" style="max-height:100px;">
    
    {{ item.title }}
  </a>
  <p>{{ item.tmdb_release_date | year }}</p>
  <button
  hx-get="{% url 'toggle_watched' item.watchlist.pk item.id %}"
  hx-target="#item-{{ item.id }}"
  hx-swap="outerHTML"
  class="btn btn-sm toggle-watched-btn {% if item.watched %}btn-success{% else %}btn-outline-secondary{% endif %}">
  {% if item.watched %}
      {% trans "✓ Watched" %}
  {% else %}
      {% trans "Mark watched" %}
  {% endif %}
</button>
</li>